.custom-image{
  width: 100%;
  height: 150px;
  background-color: rgba(0,0,0,0.5);
}

.custom-overlay{
  background-color: rgba(0,0,0,0.6);
  width: 86.5%;
  height: 150px;
}

.custom-h6{
  background-color: white;
  font-family: 'Cantarell';
  font-size: 12px;
  border-bottom-right-radius: 7px;
}

.custom-text{
  background-color: white;
  font-family: 'Cantarell';
  font-size: 12px;
  position: bottom;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.custom-overlay-content{
  justify-content: space-between;
}